<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>码匠社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span aria-hidden="true"></span>☭ 人民广场</h2>
            <hr>

            <!--显示帖子信息-->
            <div class="media" th:each="topicOfIndex:${pageInfo.list}">
                <div class="media-left">
                    <a href="#">
                    <!--<img class="media-object img-rounded" th:src="${topicDTO.user.avatarUrl}"></a>-->
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${topicOfIndex.title}"></h4>
                    <span th:text="${topicOfIndex.description}"></span><br>
                    <span class="text-desc">
                        <span th:text="${topicOfIndex.commentCount}"></span> 个回复 ·
                        <span th:text="${topicOfIndex.viewCount}"></span> 次浏览 ·
                        <span th:text="${#dates.format(topicOfIndex.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                    </span>
                </div>
            </div>

            <!--显示分页信息-->
            <div class="modal-footer no-margin-top">
                <div class="col-md-6">
                    共 [[${pageInfo.total}]] 条记录
                </div>
                <!--首页-->
                <ul class="pagination pull-right no-margin">
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="'/?pageNum=1'">首页</a>
                    </li>
                    <!--前页-->
                    <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="'/?pageNum='+${pageInfo.prePage}">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <!--遍历条数-->
                    <li th:each="pageNum:${pageInfo.navigatepageNums}">
                        <a th:href="'/?pageNum='+${pageNum}"
                           th:text="${pageNum}"
                           th:if="${pageNum != pageInfo.pageNum}">
                        </a>
                        <span style="font-weight: bold;background: #6faed9;"
                              th:if="${pageNum == pageInfo.pageNum}"
                              th:text="${pageNum}">
                        </span>
                    </li>

                    <li class="next" th:if="${pageInfo.hasNextPage}">
                        <a th:href="'/?pageNum='+${pageInfo.nextPage}">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>

                    <li>
                        <a th:href="'/?pageNum='+${pageInfo.pages}">尾页</a>
                    </li>
                </ul>
            </div>
<!--            <div>当前页号：<span th:text="${pageInfo.pageNum}"></span></div>-->
<!--            <div>每页条数：<span th:text="${pageInfo.pageSize}"></span></div>-->
<!--            <div>起始行号：<span th:text="${pageInfo.startRow}"></span></div>-->
<!--            <div>终止行号：<span th:text="${pageInfo.endRow}"></span></div>-->
<!--            <div>总结果数：<span th:text="${pageInfo.total}"></span></div>-->
<!--            <div>总页数：<span th:text="${pageInfo.pages}"></span></div>-->
<!--            <hr />-->
<!--            <div>是否为第一页：<span th:text="${pageInfo.isFirstPage}"></span></div>-->
<!--            <div>是否为最后一页：<span th:text="${pageInfo.isLastPage}"></span></div>-->
<!--            <div>是否有前一页：<span th:text="${pageInfo.hasPreviousPage}"></span></div>-->
<!--            <div>是否有下一页：<span th:text="${pageInfo.hasNextPage}"></span></div>-->
        </div>

        <!--右边栏-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>Proletarier aller Länder, vereinigt euch!</h3>
        </div>
    </div>
</div>
</body>
</html>